{% extends "index.html" %}
{% block content%}
	<h1 class="page-header">Host Details for {{ currentHost }}</h1>
	 <!--
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
	  -->
          <h2 class="sub-header">Recent Ansible Jobs</h2>
            <table class="table table-striped" id="hostHistory">
              <thead>
                <tr>
                  <th>Start Time</th>
                  <th>Duration</th>
                  <th>Group/Hostname</th>
                  <th>Hosts</th>
                  <th>Tasks</th>
                  <th>Changed</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
{% for item in ansiblePlays %}
                <tr>
                  <td><a href="/playbookdetails/{{ item.pId }}">{{ item.playStart }}</a></td>
                  <td>{% if item.isRunning %}<span class="changed"><b>Running</b>{% else %}{{ item.playTimePretty }}{% endif %}</td>
                  <td>{{ item.playPattern }}</td>
                  <td>{{ item.hostCount }}</td>
                  <td>{{ item.taskCount }}</td>
                  <td>{% if item.hasChanged %}<span class="changed"><b>Yes</b></span>{% else %}<span class="ok">No</span>{% endif %}</td>
                  <td>{% if item.hasFailed %}<span class="failed"><b>Failed</b>{% else %}<span class="ok">OK</td>{% endif %}</td>
                </tr>
{% endfor %}  
              </tbody>
            </table>
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#hostTable').dataTable({ "pageLength": 50, "order": [] });
	} );
	</script>
{% endblock %}
